[submodule "3rd/glfw-3.3"]
	path = 3rd/glfw-3.3
	url = https://github.com/glfw/glfw.git
	branch = 3.3-stable
[submodule "stb"]
	path = 3rd/stb
	url = https://github.com/nothings/stb.git
[submodule "3rd/glm"]
	path = 3rd/glm
	url = https://github.com/g-truc/glm.git
[submodule "3rd/assimp"]
	path = 3rd/assimp
	url = https://github.com/assimp/assimp.git
	branch = assimp_5.0_release
